* { 
	margin: 0; 
}
html { 
	height: 100%; 
} 

body{ 
	background-color: #fff; 
	font-family: "arial", "sans-serif"; 
	color: #000; 
	overflow-y: scroll; 
	height: 100%; 
}

.content{ 
	clear: left; 
	width: 800px; 
	background-color: #fff; 
	background-repeat: repeat-y; 
	padding: 20px; 
	margin-left: auto; 
	margin-right: auto; 
}
.header-wrap{ 
	background-color: #fff;  
	background-image: url('assets/img/top_banner.png'); 
	background-repeat: repeat-x; 
	color: #000; 
	width: 800px; 
	margin-left: auto; 
	margin-right: auto; 
	min-height: 175px;
}


.header{ 
	width: 800px; 
	margin-left: auto; 
	margin-right: auto; 
} 


.footer{ 
	background-color: #000; 
	background-repeat: repeat-y; 
	color: #fff; 
	padding: 20px; 
	margin-right: auto; 
	margin-left: auto; 
	text-align: center; 
}

.footer{ 
	background-color: #000; 
	background-image: url('assets/img/drum_kit_v02.png'); 
	background-position: fixed;
	background-position: center bottom; 
	background-repeat: no-repeat; 
	padding: 20px; 
	min-height: 400px; 
	font-size: 80%; 
	text-align: center; 
	color: #fff; 
} 
#copywrite{ 
	margin-bottom: 0px; 
}

.search { 
	margin-left: 550px; 
	padding-top: 30px; 
}

/* http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */ 
.wrapper { 
	min-height: 100%; 
	height: auto !important; 
	height: 100%; 
	margin: 0 auto -4em; 
} 

.footer, .push{ 
	height: 4em; 
	clear: both; 
} 
	
	
/*http://www.awcore.com/url/aHR0cDovL3d3dy5ibG9nZ2VybWludC5jb20vMjAxMS8wNi9jc3MzLXNlYXJjaC1ib3gtaW5zcGlyZWQtYnktYXBwbGUtY29tLw==*/ 	
#search {

}

#search input[type="text"] {
    background: url('assets/img/search-dark.png') no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
